[user]
        name = Chris Walquist
        email = chris@walquist.net
[merge]
        tool = gvimdiff
[alias]
        a = add
        b = branch
        br = branch -v
        ci = commit -a
        cl = config -l
        co = checkout
        d = diff
        f = fetch
        h = help
        l = config -l
        last = log -1 HEAD
        m = checkout master
        p = pull
        pom = push origin master
        rmb = branch -d
        s = status
        sh = show
        st = status
        unstage = reset HEAD --
        visual = !gitk
[core]
        excludesfile = ~/.gitexclude
[branch "master"]
